{% extends 'base.html' %}

{% block content %}
  <div class="col-sm-12">
    <a class="btn btn-danger pull-right" href="/logout">Sign out</a>
  </div>
  <div class="col-sm-12">
    <h1 class="text-center">Month Temperature</h1>
  </div>
  <div class="col-sm-6">
    <select class="form-control" id="select-year">
      <option value="">(Select year)</option>
      {% for year in years %}
        <option value="{{ year }}">{{ year }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="col-sm-6">
    <select class="form-control" id="select-month">
      <option value="">(Select month)</option>
      {% for month in months %}
        <option value="{{ month.number }}">{{ month.name }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="col-sm-12">
    <h3 class="text-center" id="year-month"></h3>
    <div id="chart-container"></div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="/static/js/chart.js"></script>
{% endblock %}
